# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Mac OS metadata
.DS_Store

# Windows metadata
Thumbs.db

# Logs and debug
*.log

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Images or output folders (if you want to exclude results)
# /output/
# /build/
